.footer__nav{
    @include createFlex(row,center,center,null);
    @include breakpoint-down(small){
        @include createFlex(row,center,center,wrap);
    }
    i,a{
        margin-right: 20px;
        color:grey;
        @include breakpoint-down(medium-sm){
            margin-right: 10px;
        }
        @include breakpoint-down(small){
            margin:20px;
        }

    }
    a{
        position: relative;
        top:0px;
        left:0px;
        &:hover{
            &::before{
                width: 80%;
            }
        }
        &::before{
            content:'';
            position: absolute;
            top:20px;
            left:50%;
            width: 0%;
            transform: translateX(-50%);
            border-bottom: 2px solid $medium-black;
           
        }
    }
}