.title {
    margin: $sp-ulg 0px $sp-md;
    font-size: pxToRem(30);
    text-align: center;
    font-family: $f-workspace;
    font-weight: $w-thin;
    font-size: pxToRem(60);
    @include breakpoint-down(medium-sm){
        font-size: pxToRem(35);
    }
    @include breakpoint-down(small){
    margin: 20px 0px $sp-md;

    }
}