.pricing__info-introduce{
    width:60%;
    padding-right: 20px;
    @include createFlex(row,space-between,center,null);
    @include breakpoint-down(medium-sm){
        width: 100%;
    }
    @include breakpoint-down(small){
        padding-right: 0px;
        @include createFlex(row,space-between,center,wrap);
    }
    &-img{
        border-radius: 100%;
        overflow: hidden;
        width:300%;
        height:300%;
        margin-right: 20px;
    }
    p{
        text-align: justify;
        line-height: 1.5;
    }
    &-links{
        @include createFlex(row,space-between,center,null);
        width:38%;
        @include breakpoint-down(medium){
            width:50%;
        }
        a{
            &:first-of-type{
                font-weight: bold;
            }
            color:$neon-green;
            &:hover{
                color:$neon-purple;
            }
        }
    }
}