.beats__detail{
    &-search{
        box-sizing: border-box;
        padding: 0px 50px;
        width: 100%;
        @include createFlex(row,space-between,center,null);
        @include breakpoint-down(medium-sm){
            width: 95%;
            padding: 0px 40px 0px 20px;
        }
        @include breakpoint-down(small){
            margin:20px 0px;
            @include createFlex(row,space-between,center,wrap);
        }
    }
    &-logo{
        @include breakpoint-down(small){
            display: none;
        }
    }
    &-form{
        width: 70%;
        @include breakpoint-down(medium-sm){
            width: 65%;
        }
        @include breakpoint-down(small){
            width:100%;
        }
    }
    &-form-field{
       padding:10px;
       width: 100%;
       background-color:  $light-black;
       @include createFlex(row,space-between,center,null);
       input{
        color:white;
        width: 97%;
        background-color: transparent;
        outline: none;
        border:0px;
        @include breakpoint-down(medium-sm){
            width: 90%;
        }
        &:active,&:focus{
            outline: none;
            border:0px;
        }
       }
    }
    &-group{
        width:15%;
        @include createFlex(row,space-between,center,null);
        @include breakpoint-down(small){
            width:100%;
            margin-top: 20px;
            @include createFlex(row,space-between,center,wrap);
            div{
                margin-top: 10px;
                width: 100%;
                margin-left:20px;
            }
        }
        i{
            color:white;
            margin-right: 5px;
        }
        div{
            cursor: pointer;
            padding: 10px 20px;
            height: 20px;
            border:1px solid $light-black;
            @include createFlex(row,space-between,center,null);
            p{
                margin-top: 20px;
            }
            i,p{
                pointer-events: none;
            }
           
        }
    }
    &-active{
        border:1px solid $neon-green !important;
    }
  
}