.track-form{
    width: 100%;
    margin: 0px auto;
    h1{
        color:$neon-green;
        text-align: center;
        font-weight: bold;
    }
    &__msg{
        text-align: center;
        font-weight: bold;
        color:$neon-green;
    }
    &__form{
        width: 50%;
        margin: 0px auto;
            button{
                cursor: pointer;
            margin:0px;
            width: 103%;
            padding:10px 20px;
            background-color: $black;
            border-radius: 5px;
            border: 0px;
            outline: none;
            font-weight: bold;
            color:white;
            &:hover{
                background-color: $neon-green;
            }
            &:active,&:focus{
                border: 0px;
                outline: none;
                }
            }
    }
    &__field{
        width:100%;
        margin:10px 0px;
        label{
            display: block;
            margin-bottom: 10px;
            i{
                margin-right: 10px;
            }
        }
        input{
            padding:10px;
            width: 100%;
            border-radius: 5px;
            background-color: $light-black;
            outline: none;
            border:1px solid transparent;
            &:hover{
                border: 1px solid $neon-green;
            }
            &:focus,&:active{
                outline: none;
                border:0px;
                border: 1px solid $neon-green;
            }
        }
    }
    
}