.rap-challenge{
  padding: 0px 80px;
  @include breakpoint-down(small){
    padding:0px 20px;
  }
  &__hero{
    margin: 50px 0px;
  }
  &__hero-items{
    position: relative;
    left:-80px;
    top:0px;
    width: calc(100% + 160px);
    padding:50px 0px;
    background-color: $light-black;
    @include createFlex(row,center,center,null);
    @include breakpoint-down(small){
      @include createFlex(row,center,center,wrap);  
      width: 100%; 
      left:0px;
    }
  }
  &__profiles-wrapper{
    margin:100px 0px;
  }
}