.pricing__sing-up-form{
    width: 40%;
    margin: 50px auto;
    @include breakpoint-down(medium-sm){
        width: 60%;
    }
    @include breakpoint-down(small){
        width: 100%;
    }
    button{
        display: block;
        margin:0px auto;
        padding:10px 20px;
        border-radius: 10px;
        background-color: $neon-green;
    }
    p{
        text-align: center;
        font-weight:bold;
    }
   
    &-field{
        margin:20px 0px;
        label{
            display: block;
            font-weight: bold;
            margin:5px 0px;
        }
        input{
            padding:5px;
            border-radius: 5px;
            outline:none;
            border:0px;
            width: 100%;
            background-color: $light-black;
        }
        &-checkbox{
            label{
                margin-left: 10px;
            }
            margin:10px 0px;
            @include createFlex(row,flex-start,flex-start,null);
        }
    }
}