.about__reference{
    &-img{
        width: 100%;
    }
    &-content{
        @include createFlex(row,space-between,center,wrap);
    }
    &-item{
        margin:10px;
        width: calc(100% / 4 - 20px);
        @include breakpoint-down(small){
            width: 100%;
        }
    }
 
}